.scoreBoard {
  text-align: center;
  width: 100%;
}

.scoreBoard h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.score {
  height: 300px;
  width: 70%;
  background-color: #37e9bb;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.score .point {
  width: 100%;
}

.score h2 {
  color: #f8f9fa;
  font-weight: 600;
  margin-bottom: 30px;
}

.score h1 {
  width: 180px;
  height: 180px;
  font-size: 90px;
  border-radius: 100px;
  background-color: #3f3f3f;
  color: #f8f9fa;
  padding-top: 29px;
  margin-left: auto;
  margin-right: auto;
}

.scoreBoard button {
  background-color: #3f3f3f;
  color: #f8f9fa;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 600;
  margin-top: 60px;
}

.scoreBoard a {
  color: #f8f9fa;
  text-decoration: none;
}
