.col-8 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  padding: 15px;

  /* important */
  margin-right: 0px;
  margin-left: 0px;
}

@media (max-width: 995px) {
  .col-8 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}
